.container{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px rgba(57, 172, 253, 0.942) solid;
    padding: 30px;
    border-radius: 10px;
}

body{
    background-color: rgb(26, 22, 22);
}