.container{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 3px rgba(102, 188, 250, 0.942) solid;
    padding: 30px;
    border-radius: 10px;
}

body{
    background-color: rgb(26, 22, 22);
}